div#sidebar
  div#box
    div#internal-box
      //div
       a(ui-sref="models.list") Show List
      div
        a(href='/models_list') Models list
      div
        a(href='/models_run') Run models