div.span6
    div.name
        div.large Obesity Comparison
        div.small &nbsp;
    div.value
        div.medium Baseline Risk
        span.small_percent 23%
        div#baseline_marker(style="background-position:23% 0;")
        div#typical_risk
            span.left 0%
            span.right 100%
        div#patient_marker(style="background-position:51% 0;")
        div.medium Nikhil Venkatesan
            span.small_percent 51%
