div.ember-view#ember387
  header
    a#site-title(href="/home")
      span Clinical Genomic Expert
    div#doctor-settings
    div#doctor-welcome(ng-show='isLoggedIn') Welcome back {{physicianName}}!

  div#workspace
    script#metamorph-3-start(type="text/x-placeholder")
    script#metamorph-0-start(type="text/x-placeholder")
        
    //div#module
      div.buttons
        div.save(data-ember-action="1")
        div.print
