div.span6
    div.name
        div.large Obesity Risk
        div.small Nikhil Venkatesan's genetic information may contribute to a
    div.value.more_padding 51%
        span.small_percent Higher risk of obesity*
