
h4 {
    background-color: #FCEFA1;
    padding: 2px 10px;
    font-weight: 600;
    font-size: smaller;
    line-height: 200%;
    text-align: left;
}
.excerpt {
    font-size: 10pt;
}
.excerpt h3 {
    font-size: 14pt;
}
.main-content {
    clear: both;
}

#example th, #example td {
    font-size: 9pt;
    padding: 5px;
}
.dataTables_info, .dataTables_paginate, .dataTables_wrapper label, .dataTables_wrapper select {
    color: #676767;
    font-size: 9pt;
}
#gene-details th, #gene-details td {
    font-size: 10pt;
    padding: 3px;
}
#gene-details th {
    font-size: 8pt;
    color: #666;
}
#gene-summary i {
    margin: 15px;
    color: #666;
}
#gene-summary dl {
    margin-top: 0;
}
#gene-summary dt {
    font-size: 8pt;
    color: #666;
    text-decoration: underline;
}
#gene-summary dd {
    font-size: 10pt;
    line-height: 120%;
    margin-bottom: 5px;
}
#tab-summary h3 {
    font-size: 12pt;
    line-height: 110%;
}
#tab-summary p {
    font-size: 10pt;
    line-height: 125%;
    border: 1px solid #ccc;
    background-color: #f3f3f3;
    padding: 10px;
}
#tab-summary br {
    line-height: 75%;
}
.medium {
    font-size: 0.5em;
    font-family: 'Source Sans Pro';
    font-weight: 600;
    line-height: 127%;
}
#typical_risk {
    width: 262px;
    height: 26px;
    display: block;
    margin: auto;
    background-image: url(../images/typical_bar.png);
    background-size: 262px auto;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
}
#typical_risk span.left, #typical_risk span.right {
    width: 50px;
    height: 26px;
    display: block;
    color: #fff;
    font-size: 11pt;
    position: relative;
}
#typical_risk span.left {
    top: 3px;
    left: 0;
    margin-right: auto;
}
#typical_risk span.right {
    top: -23px;
    right: 0;
    margin-left: auto;
}
#baseline_marker {
    width: 262px;
    height: 19px;
    display: block;
    margin: auto;
    background-image: url(../images/baseline_marker.png);
    background-size: 22px auto;
    background-repeat: no-repeat;
    background-position: center;
}
#patient_marker {
    width: 262px;
    height: 13px;
    display: block;
    margin: auto;
    background-image: url(../images/patient_marker.png);
    background-size: 13px auto;
    background-repeat: no-repeat;
}
#module #dosing div.drug div.overview > div .value .small_percent {
    font-size: .65em;
}
#module #dosing .tab_title li a {
    padding-left: 20px;
    padding-right: 20px;
}

#analysis-form label {
    clear: both;
    display: inline;
}
#analysis-form select {
    clear: both;
    display: inline;
}
#module #dosing input {
    box-sizing: border-box;
    border-radius: 0px;
    color: #747474;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 1.1em;
    background-color: #e6e6e6;
    background-repeat: no-repeat;
}

#module #dosing div.drug div.analysis {
    text-align: center;
}
#module #dosing div.drug div.analysis > div {
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(4, 4, 4, 0.15);
    margin-bottom: 10px;
}
#module #dosing div.drug div.analysis > div .name {
    padding: 0 0 0 0;
    background: #ffffff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    text-align:left;
}
#module #dosing div.drug div.analysis > div .snp {
    text-align:left;
}
#module #dosing div.drug div.analysis > div .name, #module #dosing div.drug div.analysis > div .name label {
    font-size: 1.1em;
    font-family: 'Source Sans Pro';
    font-weight: 600;
}
#module #dosing div.drug div.notes {
    text-align: right;
    padding-right: 10px;
    margin-bottom: 10px;
}
td.effect.impact_high {
    color: #9B0D30;
}
td.effect.impact_moderate {
    color: #D3239A;
}
td.effect.impact_low {
    color: #743B91;
}
td.effect.impact_modifier {
    color: #747474;
}
#site-title span {
    color: #FBA91A;
    line-height: 150%;
    padding-left:20px;
    font-size: 2.5em;
    font-family: 'Source Sans Pro';
    font-weight: 600;
    text-shadow:1px 1px 2px #3B3B3B;
}

dl {
 width:100%;
 overflow:hidden;
}
dt {
 float:left;
 width:50%; 
 text-align:right;
}
dd {
 float:left;
 width:46%; 
 text-align:left;
}

/* .results { border:1px solid red; } */

.nav, .pagination, .carousel a { cursor: pointer; } 